@media only screen and (min-width: 768px) {
  :root {
    --size-48: 3.3vw;
    --size-36: 2.5vw;
    --size-24: 1.67vw;
    --size-18: 1.25vw;
    --size-16: 1.11vw;
    --size-14: 0.97vw;
    --size-12: 0.83vw;
    --size-10: 0.69vw;
  }

  .desktop-font-10 {
    font-size: var(--size-10);
  }

  .desktop-font-12 {
    font-size: var(--size-12);
  }

  .desktop-font-14 {
    font-size: var(--size-14);
  }

  .desktop-font-16 {
    font-size: var(--size-16);
  }

  .desktop-font-18 {
    font-size: var(--size-18);
  }

  .desktop-font-24 {
    font-size: var(--size-24);
  }

  .desktop-font-36 {
    font-size: var(--size-36);
  }

  .desktop-font-48 {
    font-size: var(--size-48);
  }

  .desktop-font-light {
    font-weight: 300;
  }

  .desktop-font-regular {
    font-weight: 400;
  }

  .desktop-font-medium {
    font-weight: 500;
  }

  .desktop-font-bold {
    font-weight: 700;
  }

  .desktop-font-extra-bold {
    font-weight: 800;
  }

  .desktop-text-gray-1 {
    color: var(--gray-1);
  }

  .desktop-margin-277 {
    margin-left: 19.24vw;
  }

  .desktop-margin-165 {
    margin-left: 11.46vw;
  }

  nav {
    margin: 2.9vw auto auto auto;
    width: 92.36vw;
    align-items: center;
  }

  #logo {
    height: 3.68vw;
  }

  #open-nav {
    display: none;
  }

  #menu {
    width: fit-content;
    height: fit-content;
    position: static;
    background-color: var(--white);
  }

  #close-nav {
    display: none;
  }

  #nav-list-wrapper {
    height: fit-content;
    justify-content: center;
    margin-left: auto;
  }

  #nav-ul {
    width: 49vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  header {
    margin-top: 12.8vw;
    width: 100vw;
    max-width:100%;
  }

  #unhappy {
    width: fit-content;
  }

  h1 {
    width: 37.7vw;
    line-height: 5vw;
  }

  header > img {
    display: block;
    margin: 2.9vw auto auto auto;
    width: 92.5vw;
    border-radius: var(--size-18);
  }

  h2 {
    margin-top: 2.9vw;
    width: 25.42vw;
    line-height: 5vw;
  }

  #we-help {
    margin-top: 2.9vw;
    width: 25.42vw;
  }

  #header-form {
    margin-top: 2.9vw;
  }

  form label {
    height: 2vw;
  }

  form input[type='email'] {
    height: 3.96vw;
    width: 22.8vw;
    padding-left: 1.46vw;
  }

  form input[type='submit'] {
    top: 2.36vw;
    left: 17.5vw;
    width: 6.5vw;
    height: 3.4vw;
  }

  main {
    margin-top: 13.89vw;
    width: 100vw;
    max-width:100%;
  }

  #we-offer {
    width: 24vw;
  }

  #services-ul {
    margin-top: 2.9vw;
    flex-direction: row;
    column-gap: 2.9vw;
  }

  #services-ul li {
    row-gap: 2vw;
    padding: 3.1vw 2.36vw;
  }

  .span-wrapper {
    width: 4.65vw;
    height: 4.65vw;
  }

  .services-description {
    width: 18.95vw;
  }

  .services-button {
    width: 8vw;
    height: 2.9vw;
  }

  #good-design {
    margin-top: 13.47vw;
    width: 31.1vw;
  }

  #designs-ul {
    width: 77vw;
    margin-top: var(--size-12);
    height: 128vw;
    row-gap: 9.79vw;
    column-gap: 1.38vw;
  }

  #designs-ul li {
    width: 37.8vw;
  }

  #first-image {
    margin-top: 11.52vw;
  }  

  .designs-image {
    margin-top: 0vw;
    height: 37.8vw;
    width: 37.8vw;
  }

  .designs-genre {
    margin-top: 1.3vw;
    width: fit-content;
  }

  .designs-example {
    width: fit-content;
  }

  #see-more {
    margin-top: 0vw;
    align-self: flex-end;
    width: fit-content;
  }

  #team {
    margin-top: 0vw;
    height: 55vw;
    width: fit-content;
    flex-wrap: wrap;
  }

  #team-text-wrapper {
    margin-top: 9vw;
    width: 19.4vw;
  }

  #we-are-chilled {
    margin-top: 0.5vw;
  }

  #team-lorem-ipsum {
    margin-top: var(--size-14);
  }

  #team-images-ul {
    margin-top: 0vw;
    margin-left: 13vw;
    gap: var(--size-12);
  }

  #img1 > img {
    width: 22vw;
  }

  #img2 > img {
    width: 18vw;
  }

  #img3 > img {
    width: 20vw;
  }

  #quote {
    margin-top: 13.6vw;
  }

  blockquote {
    line-height: 3.75vw;
    width: 65vw;
  }

  #business-card {
    margin-top: 3.125vw;
  }

  #business-card > img {
    width: 5.69vw;
  }

  #business-card-text {
    margin-left: 2vw;
  }

  footer {
    margin-top: 13.89vw;
    max-width:100%;
  }

  #footer-wrapper {
    flex-direction: row;
  }

  #footer-nav-ul {
    margin-top: 3.125vw;
    row-gap: var(--size-18);
  }

  #social-media-container {
    margin-top: 3.125vw;
    margin-left: 17vw;
  }

  #footer-icon {
    height: 3.68vw;
  }

  #icons-ul {
    margin-top: 0.56vw;
    column-gap: var(--size-12);
  }

  .icon {
    height: var(--size-24);
    width: auto;
  }

  #footer-form {
    margin-top: 3.125vw;
    margin-left: 24.72vw;
  }

  #created-by {
    margin-top: 3vw;
  }
}
