* {
  margin: 0;
  padding: 0;
}

a,
button,
input[type='submit'] {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}


/* VARIABLE DEFINITIONS */

:root {
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #828282;
  --gray-4: #bdbdbd;
  --gray-5: #e0e0e0;
  --gray-6: #f2f2f2;
  --blue: #2d9cdb;
  --green: #27ae60;
  --red: #eb5757;
  --black: #100e1d;

  --size-36: 9.6vw;
  --size-24: 6.4vw;
  --size-18: 4.8vw;
  --size-16: 4.27vw;
  --size-14: 3.73vw;
  --size-12: 3.2vw;
  --size-10: 2.67vw;
}

/* VARIABLE DEFINITIONS */

/* GENERAL CLASSES DEFINITIONS */

.bg-blue {
  background-color: var(--blue);
}

.bg-green {
  background-color: var(--green);
}

.bg-red {
  background-color: var(--red);
}

.bg-gray-6 {
  background-color: var(--gray-6);
}

.text-blue {
  color: var(--blue);
}

.text-green {
  color: var(--green);
}

.text-red {
  color: var(--red);
}

.text-gray-1 {
  color: var(--gray-1);
}

.text-gray-2 {
  color: var(--gray-2);
}

.text-gray-3 {
  color: var(--gray-3);
}

.text-gray-4 {
  color: var(--gray-4);
}

.text-gray-5 {
  color: var(--gray-5);
}

.text-gray-6 {
  color: var(--gray-6);
}

.text-white {
  color: white;
}

.font-10 {
  font-size: var(--size-10);
}

.font-12 {
  font-size: var(--size-12);
}

.font-14 {
  font-size: var(--size-14);
}

.font-16 {
  font-size: var(--size-16);
}

.font-18 {
  font-size: var(--size-18);
}

.font-24 {
  font-size: var(--size-24);
}

.font-36 {
  font-size: var(--size-36);
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-extra-bold {
  font-weight: 800;
}

.font-heebo {
  font-family: 'Heebo';
}

.font-montserrat {
  font-family: 'Montserrat';
}

.font-poppins {
  font-family: 'Poppins';
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
}

.margin-40 {
  margin-left: 10.67vw;
}

.border-none {
  border: none;
}



/* GENERAL CLASSES DEFINITIONS */

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
}

#site-wrapper {
  margin: auto;
}

nav {
  margin: 3.47vw auto auto auto;
  width: 92.8vw;
  justify-content: space-between;
}

#logo {
  height: 9.33vw;
}

#menu {
  width: 0vw;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--blue);
  transition: 0.3s;
}

#close-nav {
  margin-top: 3.47vw;
  margin-left: 88vw;
}

#nav-list-wrapper {
  height: 90.13vh;
  flex-direction: column;
  justify-content: space-around;
}

#nav-ul {
  flex-direction: column;
  row-gap: var(--size-36);
  align-items: center;
}

header {
  margin: 12.8vw auto auto auto;
  width: 92.8vw;
}

h1 {
  width: 72.53vw;
}

header > img {
  margin-top: 4vw;
  width: 100%;
  height: auto;
  border-radius: 4.8vw;
}

h2 {
  margin-top: 6.4vw;
  width: 60.53vw;
}

#we-help {
  margin-top: 9.6vw;
  width: 73.33vw;
}

#header-form {
  margin-top: 8vw;
}

form {
  position: relative;
}

form label {
  height: 5.6vw;
}

form input[type='email'] {
  appearance: none;
  height: 12.8vw;
  width: 72.53vw;
  border-radius: var(--size-12);
  padding-left: var(--size-18);
}

form input[type='submit'] {
  position: absolute;
  top: 6.67vw;
  left: 57.6vw;
  width: 18.93vw;
  height: 10.4vw;
  border-radius: var(--size-12);
}

main {
  margin: 27.2vw auto auto auto;
  width: 92.8vw;
}

#we-offer {
  width: 69vw;
}

#services-ul {
  margin-top: 20vw;
  flex-direction: column;
  row-gap: 20vw;
}

#services-ul li {
  row-gap: 8vw;
  border-radius: var(--size-24);
  padding: 13vw 9vw;
  transition: 0.3s;
}

#services-ul li:hover {
  box-shadow: 0px 10px 30px var(--gray-4);
}

.span-wrapper {
  justify-content: center;
  align-items: center;
  width: 17.87vw;
  height: 17.87vw;
  border-radius: var(--size-16);
}

.services-description {
  width: 72.8vw;
}

.services-button {
  width: 30.93vw;
  height: 11.2vw;
  border-radius: var(--size-12);
  transition: 0.3s;
}

.services-button:hover {
  background-color: var(--blue);
  color: white;
}

#good-design {
  margin-top: 29.87vw;
  width: 71.2vw;
}

#designs-ul {
  margin-top: 3.2vw;
  column-gap: 5.34vw;
  flex-wrap: wrap;
}

.designs-image {
  margin-top: 9.6vw;
  height: 92.8vw;
  width: 92.8vw;
  border-radius: var(--size-12);
}

.designs-genre {
  margin-top: 3.73vw;
}

#see-more {
  margin-top: 9.6vw;
  align-items: center;
  width: 30.13vw;
}

#team {
  margin-top: 26.67vw;
}

#we-are-chilled {
  margin-top: 1.87vw;
  font-weight: 500;
  width: 74.67vw;
}

#team-lorem-ipsum {
  margin-top: 3.73vw;
  width: 72.8vw;
  line-height: var(--size-24);
}

#team-images-ul {
  margin-top: var(--size-36);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 2.4vw;
  grid-template-areas:
    'img1 img2'
    'img1 img3';
}

#img1 {
  grid-area: img1;
  place-self: center;
}

#img1 > img {
  width: 47.5vw;
  height: auto;
  border-radius: var(--size-24);
}

#img2 {
  grid-area: img2;
}

#img2 > img {
  width: 38.6vw;
  height: auto;
  border-radius: var(--size-24);
}

#img3 {
  grid-area: img3;
}

#img3 > img {
  width: 43.26vw;
  height: auto;
  border-radius: var(--size-24);
}

#quote {
  margin-top: 26.67vw;
}

blockquote {
  line-height: var(--size-36);
}

#business-card {
  margin-top: 8vw;
}

#business-card > img {
  width: 21.86vw;
  height: auto;
  border-radius: var(--size-12);
}

#business-card-text {
  margin-left: 8vw;
  justify-content: space-around;
}

footer {
  margin-top: 26.67vw;
  background-color: var(--black);
}

#footer-wrapper {
  flex-direction: column;
}

#footer-nav-ul {
  margin-top: var(--size-36);
  row-gap: var(--size-18);
}

#social-media-container {
  margin-top: 17vw;
}

#footer-icon {
  height: 14vw;
}

#icons-ul {
  margin-top: var(--size-10);
  column-gap: var(--size-12);
}

.icon {
  height: var(--size-24);
  width: auto;
}

#footer-form {
  margin-top: 17vw;
}

#created-by {
  margin-top: 41vw;
  margin-bottom: var(--size-24);
  text-align: center;
}