* {
    margin: 0;
    padding: 0;
}

:root {
    --gray-1: #333333;
    --gray-2: #4F4F4F;
    --gray-3: #828282;
    --gray-4: #BDBDBD;
    --gray-5: #E0E0E0;
    --gray-6: #F2F2F2;
    --blue: #2D9CDB;
    --green: #27AE60;
    --red: #EB5757;
    --black: #100E1D;

    --font-size-36: 9.6vw;
    --font-size-24: 6.4vw;
    --font-size-18: 4.8vw;
    --font-size-16: 4.27vw;
    --font-size-14: 3.73vw;
    --font-size-12: 3.2vw;
    --font-size-10: 2.67vw;
}

a,
a:hover,
a:focus {
  color: #000000;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex {
    display: flex;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
  }

#site-wrapper {
    width: 92.8vw;
    margin: auto;
}

nav {
    margin-top: 3.47vw;
    justify-content: space-between;
}

#logo {
    font-size: var(--font-size-24);
    font-weight: 800;
    height: 9.33vw;  
    color: var(--gray-1); 
}

#menu {
    width: 0vw;   
    flex-direction: column;
  height: 207vw;
  position: absolute;
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
}

#open-nav {
    font-size: var(--font-size-24);
}

#close-nav {
    font-size: var(--font-size-24);
}

header {
    margin-top: 12.8vw;
}

#unhappy {
    font-size: var(--font-size-12);
    color: var(--blue);
    margin-left: 10.67vw;
}

h1 {
    font-size: var(--font-size-24);
    margin-left: 10.67vw;
    font-weight: 500;
    width: 72.53vw;
    color: var(--gray-1);
}

header>img {
    margin-top: 4vw;
    width: 100%;
    height: auto;
    border-radius: 4.8vw;
}

h2 {
    margin-top: 6.4vw;
    margin-left: 10.67vw;
    font-size: var(--font-size-24);
    font-weight: 500;
    width: 60.53vw;
    color: var(--gray-1); 
}

#we-help {
    margin-top: 9.6vw;
    margin-left: 10.67vw;
    font-size: var(--font-size-12);
    font-weight: 400;
    width: 73.33vw;
    color: var(--gray-2); 
}

#header-form {
    position: relative;
    margin-top: 8vw;
    margin-left: 10.67vw;
}

#header-form label{
    font-size: var(--font-size-10);
    color: var(--gray-3);
    height: 5.6vw;
}

#header-form input[type=email] {
    
    appearance: none;
    background-color: var(--gray-6);
    height: 12.8vw;
    width: 72.53vw;
    border: none;
    border-radius: var(--font-size-12);
    padding-left: var(--font-size-18);
    font-size: var(--font-size-14);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: var(--gray-4);
}

#header-form input[type=submit] {
    position: absolute;
    top: 6.67vw;
    left: 57.6vw;
    width: 18.93vw;
    height: 10.4vw;
    font-size: var(--font-size-14);
    background-color: var(--blue);
    color: var(--gray-6);
    border-radius: var(--font-size-12);
    border: none;
}

main {
    margin-top: 27.2vw;
}

#services-ul {
    display: flex;
    flex-direction: column;
    row-gap: 20vw;
}

#services-ul li{
    display: flex;
    flex-direction: column;
    row-gap: 8vw;
}








